<%- include('../partials/header') %>

<h1>New Piroshky</h1>

<form action="/piroshkys" method="POST">
    <label>Piroshky Name</label>
    <input type="text" name="piroshkyName"><br>
    <br>
    <label>New Piroshky Filling</label>
    <input type="text" name="piroshkyFilling"><br>
    <br>
    <label>New Piroshky Size</label>
    <input type="text" name="piroshkySize"><br>
    <br>
    <input type="submit" value="Create Piroshky">
</form>

<%- include('../partials/footer') %>